@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root{
    --aList : 13;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{   
}
header{
    /* border: 1px solid rgba(0, 0, 0, 0.219); */
    text-align: center;
    background-color: rgba(245, 44, 185, 0.541);

}
header > h1{
    padding: .2em 0;
    color: rgba(255, 0, 0, 0.719);
    font-style: italic;
    font-family: 'Dancing Script','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    display: grid;
    grid-template-columns: repeat(var(--aList),1fr);
}
nav > a{
    border: 1px solid  rgba(0, 0, 0, 0.062);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-weight: 900;
    color: white;
}
nav > a:hover{
    color: red;
    border-color: rgba(0, 0, 0, 0.349);
}
